{% load static %}
{% extends "base.html" %}
{% block content%}
    <h1>User Post List</h1>

    {% if posts %}
        <ul>
            {% for post in posts %}
                <li>
                    <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                    <p>{{ post.text }}</p>
                    <img src="{{ post.image.url }}" alt="Post Image">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No posts found.</p>
    {% endif %}
{% endblock content%}